body{
    font-family:Helvetica;
}
a{
    text-decoration: none;
}
b{
    font-size:28px;
}
h3{
    margin-left:375px;
}
ol{
    margin-left:355px;
}
h1{
    font-size:50px;
}
h2{
    margin-left:375px;
}
pre{
    margin-left:375px;
}
ul{
    margin-left:375px;   
}